.aside__section 
	a(href=section.link).aside__section-title #{section.title}
	each article in section.articles
		a(href=article.link).aside__section-content.article 
			if article.image 
				img(src=article.image.url, alt=article.image.alt).article__image
			.article__content
				if article.text 
					p.article__text #{article.text}
				if article.tags 
					ul.article__tags.list-reset 
						each tag in article.tags
							li.article__tag(class=tag.favorite ? "article__tag--favorite" : null) #{tag.title}