section.learn 
	.learn__container.container 
		.learn__header 
			h3.learn__header-title.title Учись
			a.learn__header-btn.section-btn(href="#") в раздел
		.learn__content 
			ul.learn__ads.ads.list-reset 
				each ads in adsItems 
					li.ads__item(class=ads.image ? "ads__item--image" : null)
						if ads.image
							img(src=ads.image.url, alt=ads.image.alt)
						h3.ads__title #{ads.title }
						ul.ads__tags.list-reset
							each tag in ads.tags
								li.ads__tags-item(class=tag.favorite ? "ads__tags-item--favorite" : null) #{tag.title}
			aside.learn__aside.aside 
				each section in sections
					include ../components/aside-section
